/* **************************************** */
/* top-grid-banner-text.liquid */
/* **************************************** */
.top__grid-banner {
  overflow: hidden;
}

.top__grid-banner .top__grid-banner-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3.2rem;
}

.top__grid-banner .sub_title {
  color: var(--color-main);
  font-size: 1.6rem;
  letter-spacing: 0.15em;
}

.top__grid-banner .top__grid-title {
  font-size: 2.4rem;
  font-weight: 700;
}

.top__grid-banner .top__grid-description {
  margin-bottom: 3rem;
}

.top__grid-banner .top__grid-description p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2;
}

.top__grid-banner .top__grid-img {
  overflow: hidden;
  position: relative;
  width: calc(50% + 35vw);
  height: 500px;
}

.top__grid-banner .top__grid-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top__grid-banner .button__wrapper {
  margin-bottom: 1rem;
}

.top__grid-banner .list-social__link {
  padding: 1rem!important;
}

.top__grid-banner .svg-wrapper {
  width: 30px!important;
  height: 30px!important;
}

.top__grid-banner .list-social__item .icon {
  height: 3rem!important;
  width: 3rem!important;
}

@media screen and (min-width: 750px) {
  .top__grid-banner .list-social {
    justify-content: flex-start!important;
  }
}

@media screen and (max-width: 749px) {
  .top__grid-banner .top__grid-banner-wrapper {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }

  .top__grid-banner .top__grid-title {
    font-size: 2rem;
  }

  .top__grid-banner .top__grid-img {
    width: 100%;
    order: -1;
    position: relative;
    padding-bottom: 56.25%; /* 16:9のアスペクト比 */
  }

  .top__grid-banner .top__grid-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .top__grid-banner .button__wrapper {
    text-align: center;
  }
}
/* **************************************** */
/* top-grid-banner-text-left.liquid */
/* **************************************** */


 .top__grid-banner.left .top__grid-banner-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3.2rem;
}

.top__grid-banner.left .top__grid-img {
  overflow: hidden;
  position: relative;
  width: 60vw;
  max-width: 800px;
  margin-left: -30rem;
  height: 500px;
}

.top__grid-banner.left .button__wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
} 

@media screen and (min-width: 1500px) {
  .top__grid-banner.left .top__grid-img {
    overflow: hidden;
    position: relative;
    width: 50vw;
    max-width: 800px;
    margin-left: -40rem;
  }
}

@media screen and (max-width: 749px) {
  .top__grid-banner.left .top__grid-banner-wrapper {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }

  .top__grid-banner.left .top__grid-title {
    font-size: 2rem;
  }
  
  .top__grid-banner.left .top__grid-img {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    margin-left: 0;
  }
  
  .top__grid-banner.left .top__grid-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .top__grid-banner.left .button__wrapper {
    flex-direction: column;
    gap: 2rem;
  } 
}