/* **************************************** */
/* custom-collection-product-grid.liquid */
/* **************************************** */
.custom__collection-product-grid .card__heading {
  font-size: 1.8rem;
  font-weight: 600;
}

.custom__collection-product-grid .product__vendor {
  background: var(--color-main);
  color: #ffffff;
  display: inline-block;
  font-size: 1.2rem;
  padding: 5px;
}

.custom__collection-product-grid .card__information {
  padding: 0!important;
}

.price__container.related__price {
  display: block!important;
  text-align: right;
}

.price__product-tax {
  color: var(--color-main);
  font-size: 1.2rem;
  margin-left: -5px;
}