.related-products {
  display: block;
}

.related-products__heading {
  margin: 0 0 3rem;
  text-align: center;
}

/* custom */
.custom__related-products {
  border-top: solid .1rem var(--color-main);
}

/* related-card-product.liquid */
.related__product-card-wrapper .card__heading {
  font-size: 1.8rem;
  font-weight: 600;
}

/* related-product-price.liquid */
.price__container.related__price {
  display: block!important;
  text-align: right;
}
