/* theme */
.main_color {
  color: #838352;
}

.c_beige {
  color: #F8F8F3;
}

.c_green {
  color: #EFEEE3;
}

.page-heading--title {
  font-size: 2.8rem;
  font-weight: 600;
}

.page-heading--title .sub_title {
  color: var(--color-main);
  display: block;
  font-size: 1.6rem;
  letter-spacing: 0.15em;
  margin-top: .8rem;
}

.guide_box h3 {
  border-bottom: solid 0.1rem var(--color-main);
  color: var(--color-main);
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.page-width--narrow {
  max-width: 85rem!important;
}

/* button */
.button__base {
  background: var(--color-main);
  color: var(--color-white);
  padding: 12px 20px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  position: relative;
  outline: none;
  border: none;
  font-family: var(--font-body-family);
  min-width: 20rem;
}

.button__base:hover {
  opacity: .8;
}

.field__label {
  color: #c3c3c3;
  font-size: 1.4rem;
}

/* main-cart.liquid */
.quantity__cart::after {
  border: 1px solid rgba(131, 131, 82, .75)!important;
  box-shadow: none;
}

.quantity__cart svg {
  color: #838352!important;
}

.cart-heading--title {
  font-size: 3.2rem;
  font-weight: 600;
}

/* policy page */
.shopify-policy__container {
  max-width: 850px!important;
  margin: 0 auto;
  padding: 60px 20px 100px!important;
}

.shopify-policy__container h1 {
  font-size: 2.8rem;
}

/* custom-main-product.liquid */
.product__accordion .guide_table {
  width: 100%;
}

.product__accordion .guide_table,
.product__accordion .guide_table th,
.product__accordion .guide_table td {
  border: 1px solid #838352;
  border-collapse: collapse;
  border-spacing: 0;
}

.product__accordion .guide_table th {
  width: 30%;
  text-align: left;
}

.product__accordion .guide_table th,
.product__accordion .guide_table td {
  padding: 10px;
}

.product__accordion .p-tbl-list__th {
  border-bottom: solid .1rem var(--color-main);
  color: var(--color-main);
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.product__accordion .list-payment {
  justify-content: flex-start;
  padding-left: 0!important;
}
